<form action="/bookmarks/<%= @bookmark_id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="update_title" placeholder="New title">
  <input type="text" name="update_url" placeholder="New URL">
  <input type="submit" value="Submit">
</form>